<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
">

    <!--  用于激活那些已经在spring容器里注册过的bean -->
	<context:annotation-config/>
	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	<!-- 自动扫描(自动注入) 扫描的基本包路径.默认情况下，
	<context:component-scan>查找使用构造型（stereotype）注解所标注的类，
	如@Component(组件)，@Service（服务），@Controller（控制器），
	@Repository（数据仓库）-->
	<context:component-scan base-package="com" />
	<!-- 加入Aspectj配置 ,通过aop命名空间的<aop:aspectj-autoproxy />
	声明自动为spring容器中那些配置@aspectJ切面的bean创建代理，织入切面-->
	<aop:aspectj-autoproxy/>
</beans>